<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1>Predicting Diabetes</h1>
    <p>Enter your info:</p>
    <form>
    <ul>
        <li>Pregnancies (0-8) <input type="text"></li>
        <li>Glucose (85-183) <input type="text"></li>
        <li>BloodPressure (40-72) <input type="text"></li>
        <li>SkinThickness (0-35) <input type="text"></li>
        <li>Insulin (0-168) <input type="text"></li>
        <li>BMI (23.3-43.1) <input type="text"></li>
        <li>DiabetesPedigreeFunction (0.167-2.288) <input type="text"></li>
        <li>Age (21-50) <input type="text"></li>
    </ul>
    <button type="button" onclick="runModel()">Submit</button>
    </form>
    <br>
    <br>
   <label>Results:</label>
    <p id="results"></p>
    

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>