<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <script>
        function runModel(){
            let preg = document.getElementById('preg').value;
            let gluc = document.getElementById('gluc').value;
            let blood = document.getElementById('blood').value;
            let skin = document.getElementById('skin').value;
            let ins = document.getElementById('ins').value;
            let bmi = document.getElementById('bmi').value;
            let dpf = document.getElementById('dpf').value;
            let age = document.getElementById('age').value;
            let vals = [preg, gluc, blood, skin, ins, bmi, dpf, age]
            let url = `/predict/${vals}`

            fetch(url).then(response => response.json())
            .then(json => {console.log(json);
            document.getElementById('results').innerHTML = JSON.stringify(json)});
        };
    </script>
    
    <h1>Predicting Diabetes</h1>
    <p>Enter your info:</p>
    <form>
    <ul>
        <li>Pregnancies (0-8) <input type="text" id="preg"></li>
        <li>Glucose (85-183) <input type="text" id="gluc"></li>
        <li>BloodPressure (40-72) <input type="text" id="blood"></li>
        <li>SkinThickness (0-35) <input type="text" id="skin"></li>
        <li>Insulin (0-168) <input type="text" id="ins"></li>
        <li>BMI (23.3-43.1) <input type="text" id="bmi"></li>
        <li>DiabetesPedigreeFunction (0.167-2.288) <input type="text" id="dpf"></li>
        <li>Age (21-50) <input type="text" id="age"></li>
    </ul>
    <button type="button" onclick="runModel()">Submit</button>
    </form>
    <br>
    <br>
   <label>Results:</label>
    <p id="results"></p>
    

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>